  /* *:not(path):not(g) {
      color:                    hsla(210, 100%, 100%, 0.9) !important;
      background:               hsla(210, 100%,  50%, 0.5) !important;
      outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
      box-shadow: none !important;
  } */

.bg-1 {
    background: black;
    color: White;
    position: fixed;
}

.bg-2{
    height: 30vh;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.image {
   width: 75%;
   height: 75%;
   transition: box-shadow .3s;
}

.image:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }